---
title: "Home"
layout: blank
---

<main>
    <article>
        <div class="container">
            <div class="column">
                <h3>What is FLUSP?</h3>
                <p class="m-bottom-0">
                    We are a group of graduate and undergraduate students at the
                    University of São Paulo (USP) that aims to contribute to
                    free software (Free/Libre/Open Source Software - FLOSS)
                    projects. We invite you to read <a href="/about">more about
                    us</a> and to take a look at <a href="/achievements">our
                    main achievements</a> so far.
                </p>
            </div>

            <div id="schedule-div" class="column">
                <h3>Schedule</h3>
                <iframe src="https://calendar.google.com/calendar/embed?title=FLUSP&#39;s%20Calendar&amp;showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=350&amp;wkst=1&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=usp.br_4k75u5oanvfgr2l0p9dvpdqb6c%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FSao_Paulo" style="border-width:0" width="500" height="300" frameborder="0" scrolling="no"></iframe>
           </div>
        </div>

        {% if paginator.total_pages > 0 %}
        <h3 id="updates-header">Updates</h3>
        {% endif %}

        {% for page in paginator.posts %}
          <div class="post_ref">
            <header>
              <h3><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h3>
              <time datetime="{{ page.date | date_to_xmlschema }}">{% include author.html %} on
                {{ page.date | date: "%B %-d, %Y" }}</time>
            </header>
            {{ page.excerpt }}
          </div>
        {% endfor %}
    </article>
</main>

{% if paginator.total_pages > 1 %}
<footer>
    <a {% if paginator.previous_page %} class="gray" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" {% else %} class="disabled" {% endif %}>« newer posts</a>
    <span class="paginate">page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    <a {% if paginator.next_page %} class="gray" href="{{ paginator.next_page_path | prepend: site.baseurl }}" {% else %} class="disabled" {% endif %}>older posts »</a>
</footer>
{% endif %}
