{%- comment -%}

Parameters:
  modal_id
  modal_title
  modal_body
  modal_recommendation
  modal_urls
  modal_footer

{%- endcomment -%}

<div id="{{ include.modal_id }}" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h3> {{ include.modal_title }} </h3>
    </div>
    <div class="modal-body">
        {{ include.modal_body }}
    </div>
  </div>
</div>
